.leader-space{
    background-color: grey;
    width: 60rem;
    margin: auto;
    font-size: 40px;
    font-style: bold;
}
.leader-board{
    display: flex;
    margin: auto;
    width: 40rem;
    height: 40rem;
    border: 10px;
}